<p id="notice"><%= notice %></p>

<h3><%= @user.firstname + " " + @user.lastname %></h3>

<p>
  <b>Phone:</b>
  <%= @user.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<% unless @user.accounts.empty? %>
  <table class="accounts" summary="User accounts">
  <tr>
  <th>Account</th>
  <th>Type</th>
  <th>Amount</th>
  <th>Last Update</th>
  </tr>
 <%= render @accounts %>
 </table>
<%= will_paginate @accounts %>
<% end %>