The HW1 assignment is described here:
<br>
<%= link_to "https://moodle.brandeis.edu/file.php/11062/Assignments/homework1.htm", "https://moodle.brandeis.edu/file.php/11062/Assignments/homework1.htm" %>
<br>
<br>
The original incarnation of this assignment may be viewed at <%= link_to "this other site on Heroku", "http://morning-rain-796.heroku.com/" %>.  This version adds some of the extra credit options described there, including:
<br>
<ul>
<li>Separation of the User model from the Account model, letting each user have and create multiple accounts.</li>
<li>A hierarchy of users, where Administrative users are able to do more tasks and granted wider access in the system than Normal users.</li>
<li>A username/password login scheme demonstrating the use of a salt to avoid saving user passwords in the database, and the use of a cookie-based user session.</li>
<li>A signup page where users can create their own username/password combinations.</li>
</ul>
<br>
Note: the following open source projects were used in this project:
  <ul>
  <li><%= link_to "Ruby on Rails Tutorial", "http://railstutorial.org/ruby-on-rails-tutorial-book" %></li>
   <li><%= link_to "GitHub", "http://github.com" %></li>
   <li><%= link_to "Heroku", "http://heroku.com" %></li>
   <li><%= link_to "Blueprint CSS", "http://www.blueprintcss.org/" %></li>
  </ul>
