<script type="text/javascript">

  function setinterestrate(choice){ 
    var rates=[0.02,0.05];
    var p=choice.options.selectedIndex;
    choice.form.elements['account[interestrate]'].value=rates[p];
  } 
</script>

<%= form_for(@account) do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @account.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label for="account_user_id">User</label><br />
    <%= collection_select(:user, :id, @user_choices, :id, 
                          :fullname, {}, :name => "account[user_id]") %>
  </div>
  <div class="field">
    <label for="account_acct_type">Account Type</label><br />
    <select name="account[acct_type]" onload=setinterestrate(this) onchange=setinterestrate(this)>
    <option value="Checking">Checking</option>
    <option value="Savings">Savings</option>
    </select>
  </div>
  <div class="field">
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </div>
  <input name="account[interestrate]" type="hidden" value=0.02>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
