<h1>Account <%= @account.id %> for <%= @user.fullname %>:</h1>

<p id="notice"><%= notice %></p>

<p>
  <b>Account Type:</b>
  <%= @account.acct_type %>
</p>

<p>
  <b>Amount:</b>
  <%= @account.amount %>
</p>

<p>
  <b>Interestrate:</b>
  <%= @account.interestrate %>
</p>


<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
